<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5> <a class="my-0 mr-md-auto font-weight-normal" href="/">Travel Guide </a></h5>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="/">Main</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/reviews">Reviews</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/reviews/add">Add Review</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/register">Register</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="/about">About</a>
        </nav>
    </div>
</div>